body {
    margin: 0;
}

h1 {
    text-align: center;
}

.navbar {
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(109, 109, 109);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(50, 50, 50);
}
.navbar li {
    float: left;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
  .contact-info {
    text-align: left;
    padding-left: 20px;
}
.address {
    text-align: left;
    padding-left: 20px;
}
.about-me {
    text-align: left;
    padding-left: 20px;
}
.about-me p, .about-me br {
    margin: 0;
    padding: 0;
}
.home {
    text-align: left;
    padding-left: 20px;
}
.home p, .home br {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dfdbdb;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    color: #333;
  }