body {
    margin: 0;
}

h1 {
    text-align: center;
}

.navbar {
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(109, 109, 109);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(50, 50, 50);
}
.navbar li {
    float: left;
}
ul {
    display: flex;
    justify-content: center;
    list-style: none; /* Remove the default list styles */
    padding: 0; /* Remove any default padding */
  }